.gallery-container{

background:var(--white);

padding:35px;

border-radius:25px;

box-shadow:
0 8px 25px rgba(18,57,77,.08);

}



.upload-box{

border:2px dashed var(--primary);

background:#f2fbf9;

padding:45px;

border-radius:20px;

text-align:center;

}



.upload-label{

background:var(--secondary);

color:white;

padding:14px 30px;

border-radius:12px;

cursor:pointer;

display:inline-block;

}



.upload-label:hover{

background:var(--primary);

}



.preview img{

width:180px;

height:180px;

object-fit:cover;

border-radius:20px;

border:4px solid var(--accent);

margin-top:20px;

}



.gallery-grid{

display:grid;

grid-template-columns:
repeat(auto-fill,minmax(230px,1fr));

gap:25px;

margin-top:35px;

}



.image-card{

background:var(--white);

border-radius:20px;

overflow:hidden;

box-shadow:
0 8px 25px rgba(18,57,77,.08);

transition:.3s;

}



.image-card:hover{

transform:translateY(-5px);

}



.image-card img{

width:100%;

height:230px;

object-fit:cover;

}



.image-footer{

padding:18px;

text-align:center;

}



.delete-btn{

background:#dc2626;

color:white;

padding:10px 25px;

border-radius:10px;

text-decoration:none;

}



.delete-btn:hover{

background:#b91c1c;

}